body {
    margin: 0;
    font-family: 'Arial', Helvetica, sans-serif;
}


header {
    background-color: #8B4513; 
    color: black;
    text-align: center;
    padding: 50px 0;
    font-size: 25px;
    font-weight: bold;
    font-family: 'sans-serif',Arial,Helvetica;
}


nav {
    background-color: #D2A15D; 
    text-align: center;
    padding: 15px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
    font-family:sans-serif;
}

nav ul li a {
    text-decoration: none;
    color: green;
    font-weight: bold;
}


section {
    background-color: #D2A15D; 
    padding: 20px 40px;
}

section h2 {
    color:#3c2c1a;
}

section p {
    color: #3c2c1a;
    font-size: 16px;
}
.PS{
    color:#8B4513;
    font-size: 16px;
}
