body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(145deg, #a7c9ff, #b9d6ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #ffffff;
    width: 360px;
    padding: 40px 32px;
    border-radius: 20px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.50),
                0 -10px 20px rgba(255, 255, 255, 0.5) groove;
    text-align: center;
    transition: all 0.3s ease;

}


.container h1 {
    color: #4a78c2;
    font-size: 39px;
    margin-bottom: 3px;
}

.container p {
    color: #777;
    margin-bottom: 25px;
}


label {
    display: block;
    text-align: left;
    color: #333;
    font-weight: 500;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #4aafff;
    margin-bottom: 15px;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #4a78c2;
    box-shadow: 0 0 8px rgba(74,120,194,0.5);
}


button {
    width: 100%;
    background-color: #4aafff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background-color: #3792e3;
    transform: scale(1.03);
}
