body {
  background-color: #fff8cc;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}

h1 {
  font-size: 26px;
  font-weight: bold;
}

article {
  border: 1px solid #000;
  background-color: #fff;
  padding: 10px 15px;
  margin-bottom: 20px;
}

article h2 {
  font-weight: bold;
}


span.ipsum {
  background-color: #ffc3a1; 
  font-weight: bold;
 color: #222;
}

span.quis {
  background-color: #ffea6a; 
  font-weight: bold;
  color: #222;
}

article.special {
  border: 2px dotted red;
  color: red;
  background-color: #fff8f8;
}
